.userPhoto{
    width: 100px;
    height: 100px;
    border-radius: 100%;
}
.selectedPage{
    font-weight: bold;
}
.pagination{
    display: flex;
    flex-wrap: wrap;
}
.paginationItem{
    padding: 5px 10px;
    border: black 1px solid;
    cursor: pointer;
}